@use "../abstract";
.model {
    @include abstract.position(fixed, 0, 0, 0, 0, 100%, 100%);
    background-color: rgba($color: #000000, $alpha: .5);
    @include abstract.align(flex, center, center, 100vh);
    z-index: 1;
    &_heading {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        
    }
    &_body {
        background-color: abstract.$white;
        color: abstract.$black;
        width: 30rem;
        height: auto;
        padding: 2rem;
        font-size: 1rem;
        @include abstract.animation(model, 0.3s, ease-out, -8rem, 0rem);
        @include abstract.responsive(small) {
            margin: 0 1.5rem;
        }
        @include abstract.responsive(small) {
            span {
                margin-left: 1rem;
            }
        }
    }
}