$white: white;
$black: black;
$btnMainColor1: #ff4d58;
$btnMainColor2: #df2189;
$sliver: #7f8c8d;
$darktheme: #3e573f;
$sliverparagraph: #aaa;
$sliverDark: #777;
$sliverLight-50: #d4cfcf;
$sliverLight-40: #f6f6fb;
$sliverLight-45: #e2e4eb;
$orange: #FBBF24;
$green: #34D399;